/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 mars 2019, 19:53:01
    Author     : Yvan TCHOFFO
*/

.header{
    -fx-background-color: #00AAE4;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.61), 10, 0, 0, 0);
}

.header .title{
    -fx-text-fill:#fff;
    -fx-font-size: 19px;
    -fx-font-weight: bold;
}

.side-menu{
    -fx-text-fill: #fff;
    -fx-background-color: #435f71;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.61), 10, 0, 0, 0);
}

.send{
    -fx-background-color: #00AAE4;
    -fx-text-fill: #fff;
}

.answer-block{
    -fx-border-width: 0.2 0 0 0;
    -fx-border-color: black;
}
.content-scroll{
    -fx-box-border: transparent;
}

.message-block{
    -fx-min-width:465px;
    -fx-min-height:51px; 
}

.messageblock-bot{
    -fx-alignment: top_left;
    -fx-padding: 10 10 10 10;
}

.messageblock-user{
    -fx-alignment: top_right;
    -fx-padding: 10 20 10 10;
}

.toggle-side-menu{
    -fx-background-color:#00AAE4;
}

ScrollPane{
    -fx-border-color:black;
    -fx-border-width: 0 0.2 0 0.2;

}

.messageblock-bot Label{
    -fx-text-fill:#fff;
    -fx-background-color:#00AAE4;
    -fx-padding : 10 10 10 10;
    -fx-background-radius: 8 8 8 8; 
    -fx-min-width: 186;
    -fx-min-height: 40;
}

.messageblock-user Label{
    -fx-background-color:#435f71;
    -fx-padding : 10 10 10 10;
    -fx-background-radius: 8 8 8 8;
    -fx-text-fill: #fff;
    -fx-min-width: 186;
    -fx-min-height: 40;
}

.discussion{
    -fx-background-image: url('icons/images.jpg');
    -fx-background-size: 100% 100%;
    /*-fx-background-color:red;*/
}

/*.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #F1F1F1;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #BCBCBC;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

 Up- and Down-Button Padding 
.scroll-bar:vertical > .increment-button, .scroll-bar:vertical > .decrement-button {
    -fx-padding: 5 2 5 2;
}

 Left- and Right-Button Padding 
.scroll-bar:horizontal > .increment-button, .scroll-bar:horizontal > .decrement-button {
    -fx-padding: 2 5 2 5;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: rgb(150.0, 150.0, 150.0);
}

 Up Arrow 
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

 Down Arrow 
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

 Right Arrow     
.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M0 428l0 -428l214 214l-214 214z";
}

 Left Arrow 
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M214 0l0 428l-214 -214l214 -214z";
}

******************************************************************************
 *                                                                             *
 * Scroll Pane			                                                       *
 *                                                                             *
 *****************************************************************************

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}*/